body {
  background-color: #fafafa; }

header {
  width: 100%;
  margin: 0 auto;
  color: #29b078;
  background: #ffffff; }
  header .header-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem; }
    @media screen and (max-width: 768px) {
      header .header-top {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0; } }
    header .header-top span {
      width: 50%;
      padding-left: 5rem;
      font-size: 1.5rem; }
      @media screen and (max-width: 768px) {
        header .header-top span {
          display: none; } }
  header .chat {
    margin: 0;
    padding-right: 6rem; }
    @media screen and (max-width: 768px) {
      header .chat {
        padding: 0;
        margin-right: 1.5rem; } }
    header .chat li {
      margin-left: 2rem;
      padding: 0; }
  header .chat li:first-child {
    display: inline-block;
    width: 26px;
    height: 24px;
    background: url("../img/sprites.png") no-repeat;
    background-position: -90px -92px; }
  header .chat li:nth-child(2) {
    display: inline-block;
    width: 25px;
    height: 24px;
    background: url("../img/sprites.png") no-repeat;
    background-position: -153px -10px; }
  header .chat li:nth-child(3) {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/sprites.png") no-repeat;
    background-position: -153px -54px; }
  header .navbar {
    background: #29b078; }
    @media screen and (min-width: 768px) {
      header .navbar .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
    header .navbar .container .navbar-header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 6rem; }
      @media screen and (max-width: 768px) {
        header .navbar .container .navbar-header {
          height: 5rem; } }
      header .navbar .container .navbar-header .navbar-brand {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 5rem; }
        @media screen and (max-width: 768px) {
          header .navbar .container .navbar-header .navbar-brand {
            padding-left: 1rem;
            transform: scale(0.7, 0.7); } }
      header .navbar .container .navbar-header .navbar-toggle {
        transform: scale(0.7, 0.7);
        padding-right: 1rem;
        outline: none;
        border: none;
        background: #29b078; }
        @media screen and (min-width: 768px) {
          header .navbar .container .navbar-header .navbar-toggle {
            display: none; } }
    header .navbar .container .navbar-collapse {
      display: block;
      height: auto;
      overflow: visible; }
      @media screen and (min-width: 768px) {
        header .navbar .container .navbar-collapse {
          display: block;
          height: auto;
          overflow: visible;
          padding-right: 5rem; } }
      header .navbar .container .navbar-collapse .nav {
        display: none; }
        @media screen and (min-width: 768px) {
          header .navbar .container .navbar-collapse .nav {
            margin: 0;
            padding: 0;
            list-style: none;
            z-index: 4; } }
        @media screen and (min-width: 768px) {
          header .navbar .container .navbar-collapse .nav {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            list-style: none;
            z-index: 4; } }
        header .navbar .container .navbar-collapse .nav li {
          padding: 1rem 0;
          text-align: center;
          font-size: 2rem;
          background: #29b078; }
          @media screen and (min-width: 768px) {
            header .navbar .container .navbar-collapse .nav li {
              float: left;
              padding: 0 1rem;
              line-height: 6rem; }
              header .navbar .container .navbar-collapse .nav li:hover {
                box-shadow: 0 -2px #fff inset; } }
          header .navbar .container .navbar-collapse .nav li a {
            color: #ffffff;
            text-decoration: none; }

footer {
  width: 100%;
  height: 20rem; }
  footer .footer-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 17rem;
    color: #ffffff;
    background: #29b078; }
    @media screen and (max-width: 768px) {
      footer .footer-top {
        height: 60rem; } }
    footer .footer-top ul {
      list-style: none;
      padding-left: 0; }
      footer .footer-top ul li {
        display: inline-block; }
        footer .footer-top ul li a {
          color: #ffffff; }
    footer .footer-top p {
      font-size: 1.8rem; }
    @media screen and (max-width: 768px) {
      footer .footer-top .footer-top-left {
        width: 100%;
        text-align: center;
        margin: 1rem auto; } }
    footer .footer-top .footer-top-left li {
      padding-top: 6rem; }
    @media screen and (max-width: 768px) {
      footer .footer-top .footer-top-middle {
        width: 100%;
        text-align: center;
        margin: 0 auto; } }
    footer .footer-top .footer-top-middle li {
      padding-right: 1rem;
      padding-top: 1.4rem; }
    footer .footer-top .footer-top-right {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      @media screen and (max-width: 768px) {
        footer .footer-top .footer-top-right {
          width: 100%;
          text-align: center;
          margin: 0 auto; } }
      @media screen and (max-width: 768px) {
        footer .footer-top .footer-top-right img {
          width: 108px;
          height: 92px;
          margin: 0 auto; } }
  footer .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-top: 0.15rem solid #32c086;
    color: #ffffff;
    background: #29b078; }
    footer .footer-bottom p {
      margin: 0; }

/*# sourceMappingURL=common.css.map */
