html {
    font-size: 62.5%;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: #fafafa;
}
.main {
    width: 100%;
    margin: 0 auto;
}
.wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.pre {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 3rem;
    background: none;
    border-style: none;
}
.next {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 3rem;
    background: none;
    border-style: none;
}
.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin: 5rem auto;
    padding: 0;
}
.intro-son {
    width: 20%;
    margin: 0;
    padding: 0;
}
.intro-son div {
    height: 30%;
    line-height: 30%;
    text-align: center;
}
.intro div:first-child i {
    width:43px;
    height: 62px;
    margin: 0 auto;
    background: url("../img/sprites.png") no-repeat;
    background-position: -90px -10px;
    display: inline-block;
}
.intro div:nth-child(2) i {
    width:60px;
    height: 48px;
    background: url("../img/sprites.png") no-repeat;
    background-position: -10px -10px;
    display: inline-block;
}
.intro div:nth-child(3) i {
    width:52px;
    height: 55px;
    background: url("../img/sprites.png") no-repeat;
    background-position: -10px -78px;
    display: inline-block;
}

.intro h2 {
    margin: 2rem auto;
    text-align: center;
}
.intro-son p {
    margin: 1rem 5rem;
}
.intro-son2 {
    padding: 6rem 3rem;
    border-left: 1px dashed #999999 ;
}
.adv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin:0 auto;
}
.adv h2 {
    margin-top: 5rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
    padding-left: 0;
}
.row-son {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding-left: 0;
}
.row p {
    margin: 0;
}
.num {
    width: 40px;
    height:40px;
    line-height: 40px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px  #e6e6e6;
    text-align: center;
    margin-right: 1rem;
    margin-left: 0;
    padding-left: 0;
    background: #ffffff;
}
.row p {
    width:180px;

}
.row i {
    width:29px;
    height:26px;
    margin: 0 1rem;
    background: url("../img/arr_03.png");
}
.zs {

    width: 85%;
    margin: 3rem auto;
    text-align: center;
}
.zs h2 {
    margin: 0 auto;
    margin-top: 5rem;
}
.zs h3 {
    font-size: 2rem;
    margin: 3rem 0;
}
.zs-son {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}
.zs-son div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 3rem 2rem;
    background: #ffffff;
}
.circle {
    display: flex;
    justify-content: center;
}
.circle div {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: solid 2px #29b078;
    margin: 0 5px;
}
.part {
    width: 85%;
    margin: 3rem auto;
}
.part h2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 8rem;
}
.part-son {
    width: 100%;
}
.part-son a {
    margin: 3rem 0;
    width: 20%;
    float: left;
}
.part-son a:hover {
    box-shadow: 0 1px 10px #999;

}
.part-son img {
    width: 100%;
    height: 160px;
}
.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin:0 auto;
}
.link h2 {
    margin-top: 5rem;
}
.link ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
}
.link li {
    margin: 0 3.1rem;
}
@media screen and (max-width: 768px) {
    .intro-son {
        width: 100%;
        margin: 2rem 0;
    }
    .intro-son p {
        text-align: center;
    }
    .intro-son2 {
        width: 100%;
        margin: 2rem auto;
        border-left: none;
        text-align: center;
    }
    .row {
        margin: 0;
    }
    .row-son {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 0;
        margin: 3rem 0;
    }
    .row p {
        width: 15rem;
    }
    .zs-son div {
        width: 100%;
    }
    .zs-son p {
        margin: 0 8rem;
    }
    .part-son a {
        width: 100%;
    }

    .link li {
        width: 40%;
        margin: 2% 35%;
    }
}
