html {
  font-size: 62.5%;
}
body {
  padding:0;
  margin:0 auto;
  width:100%;
  background: #f0f0f0;
}
.header {
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  background: #29bde0;
  img {
    vertical-align: middle;
    padding-left: 2rem;
  }
}
.latestplayed {
  width: 87.5%;
  height: 6rem;
  margin: 1.5rem auto;
  font-size: 2rem;
  text-align: center;
  line-height: 6rem;
  color: #9a9a9a;
  background: #ffffff;
  img {
    display: inline-block;
    float: right;
    width: 20px;
    height: 30px;
    margin: 1.5rem 1rem 1.5rem 0;
  }
}
.main {
  width: 87.5%;
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
  h2 {
    overflow: hidden;
    width:100%;
    margin: 0;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
    color: #fbb435;
    border-bottom: 0.15rem solid #fbb435;
  }
  .menu {
    display: flex;
    .left {
      float:left;
      width:10%;
    }
    .gamesmenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width:80%;
      margin:0;
      @mixin box {
        width: 100%;
        padding: 1.5rem 0;
        margin: 1.5rem auto;
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 2px;
        background: #29bde0;
      }
      .simple,.guess,.idiot {
        @include box;
        text-decoration: none;
        color: #ffffff;
      }
      p {
        margin:0 auto;
        font-size: 1.5rem;
        text-align: center;
      }
      .bottom {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 1rem 0;
        @mixin circle($background-color,$display:flex,$width:10px,$height:10px,$border-radius:50px) {
          background-color: $background-color;
          display: $display;
          width: $width;
          height: $height;
          border-radius: $border-radius;
        }
        .c1 {
          @include circle(#69D1E9);
        }
        .c2 {
          @include circle(#F0F0F0);
        }
        .space{
          padding-left:10px;
        }
      }
    }
    .right {
      float: right;
      width:10%;
      img {
        width: 20px;
        margin: 12.6rem 0;
      }
    }
  }
}