.main {
  width: 100%;
  margin: 0 auto; }
  .main .wrap {
    width: 100%;
    overflow: hidden; }
@keyframes banner {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  95% {
    margin-left: -300%; } }
    .main .wrap .img-wrap {
      width: 400%;
      animation: banner 10s infinite; }
      .main .wrap .img-wrap img {
        width: 25%;
        float: left; }
  .main .intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin: 5rem auto;
    padding: 0; }
    @media screen and (max-width: 768px) {
      .main .intro {
        margin: 2rem auto; } }
    .main .intro .intro-son {
      width: 20%;
      margin: 0;
      padding: 0; }
      @media screen and (max-width: 768px) {
        .main .intro .intro-son {
          width: 100%;
          margin: 2rem 0; } }
      .main .intro .intro-son div {
        height: 30%;
        line-height: 30%;
        text-align: center; }
      .main .intro .intro-son div:first-child i {
        width: 43px;
        height: 62px;
        margin: 0 auto;
        background: url("../img/sprites.png") no-repeat;
        background-position: -90px -10px;
        display: inline-block; }
      .main .intro .intro-son div:nth-child(2) i {
        width: 60px;
        height: 48px;
        background: url("../img/sprites.png") no-repeat;
        background-position: -10px -10px;
        display: inline-block; }
      .main .intro .intro-son div:nth-child(3) i {
        width: 52px;
        height: 55px;
        background: url("../img/sprites.png") no-repeat;
        background-position: -10px -78px;
        display: inline-block; }
      .main .intro .intro-son h2 {
        margin: 2rem auto;
        text-align: center; }
      .main .intro .intro-son p {
        margin: 1rem 2rem;
        text-align: center; }
    .main .intro .intro-son2 {
      padding: 6rem 3rem;
      border-left: 1px dashed #999999; }
      @media screen and (max-width: 768px) {
        .main .intro .intro-son2 {
          width: 100%;
          margin: 0 auto;
          padding: 3rem;
          border-left: none;
          text-align: center; } }
      .main .intro .intro-son2 p {
        margin: 2rem 0; }
  .main .adv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto; }
    .main .adv h2 {
      margin-top: 5rem; }
    .main .adv .row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 3rem 0;
      padding-left: 0; }
      @media screen and (max-width: 768px) {
        .main .adv .row {
          margin: 0; } }
      .main .adv .row .row-son {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 25%;
        padding-left: 0; }
        @media screen and (max-width: 768px) {
          .main .adv .row .row-son {
            width: 100%;
            padding-left: 0;
            margin: 3rem 0; } }
        .main .adv .row .row-son .num {
          width: 40px;
          height: 40px;
          line-height: 40px;
          border-radius: 20px;
          box-shadow: 1px 1px 1px 1px  #e6e6e6;
          text-align: center;
          margin-right: 1rem;
          margin-left: 0;
          padding-left: 0;
          background: #ffffff; }
        .main .adv .row .row-son p {
          width: 160px;
          margin: 0; }
          @media screen and (max-width: 768px) {
            .main .adv .row .row-son p {
              width: 15rem; } }
          @media screen and (min-width: 768px) and (max-width: 992px) {
            .main .adv .row .row-son p {
              width: 70px; } }
          @media screen and (min-width: 992px) and (max-width: 1200px) {
            .main .adv .row .row-son p {
              width: 120px; } }
        .main .adv .row .row-son i {
          width: 29px;
          height: 26px;
          margin: 0 .5rem;
          background: url("../img/arr_03.png"); }
  .main .zs {
    width: 85%;
    margin: 3rem auto;
    text-align: center; }
    .main .zs h2 {
      margin: 0 auto;
      margin-top: 5rem; }
    .main .zs .zs-son {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 2rem 3rem; }
      @media screen and (max-width: 768px) {
        .main .zs .zs-son {
          margin: 2rem 0; } }
      .main .zs .zs-son div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 18%;
        margin: 3rem;
        padding: 1rem;
        background: #ffffff; }
        @media screen and (max-width: 768px) {
          .main .zs .zs-son div {
            width: 70%;
            margin: 3rem 0; } }
        .main .zs .zs-son div img {
          margin: 2rem 0; }
        .main .zs .zs-son div h3 {
          font-size: 2rem;
          margin: 1rem 0; }
        .main .zs .zs-son div p {
          color: #b0b0b0;
          font-size: 1.5rem; }
          @media screen and (max-width: 768px) {
            .main .zs .zs-son div p {
              margin: 0 2rem;
              font-size: 1.5rem; } }
    .main .zs .circle {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .main .zs .circle div {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        border: solid 2px #29b078;
        margin: 0 5px; }
  .main .part {
    width: 85%;
    margin: 3rem auto; }
    .main .part h2 {
      text-align: center;
      margin: 0 auto;
      margin-top: 8rem;
      margin-bottom: 2rem; }
    .main .part .part-son {
      width: 100%; }
      .main .part .part-son a {
        margin: 4rem .5%;
        width: 19%;
        float: left; }
        .main .part .part-son a:hover {
          box-shadow: 0 1px 10px #999; }
        @media screen and (max-width: 768px) {
          .main .part .part-son a {
            width: 100%;
            margin: 1rem .5%;
            text-align: center; } }
        .main .part .part-son a img {
          width: 100%;
          height: 160px; }
          @media screen and (max-width: 768px) {
            .main .part .part-son a img {
              width: 250px;
              height: 150px; } }
  .main .link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto; }
    .main .link h2 {
      margin-top: 5rem; }
    .main .link ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1rem 0;
      padding: 0; }
      .main .link ul li {
        margin: 0 3.1rem; }
        @media screen and (max-width: 768px) {
          .main .link ul li {
            width: 20%;
            margin: 2%;
            text-align: center; } }

/*# sourceMappingURL=task14-1.css.map */
